.container{
    max-width: 90em;
    width: calc(100% - 32px);
    margin-inline: auto;
}

.flex{
    display: flex;
    flex-direction: column;

    @media(min-width: 42em){
        flex-direction: row;
    }
}

.grid{
    display: grid;
}