.team__card {
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: rgba(5,5,5, .05 );
    img {
        bottom: -25%;
        position: absolute;
        object-position: center;
        object-fit: cover;
        transform: scale(.7);
        transition: transform .25s ease;

        &:is(:hover) {
            transform: scale(.8);
        }
    }
}

