.team__card {
    aspect-ratio: 1/1;
    border-radius: 12px;
    box-shadow: var(--shadow-dark-hover);
    overflow: hidden;
    width: 250px;
   
    img {
        bottom: 0;
        object-fit: cover;
        transition: all .25s ease;

        &:is(:hover) {
            transform: scale(1.2);
        }
    }
}

